In [16]:
import pandas as pd
import numpy as np
import re
import sqlalchemy

In [ ]:
engine = sqlalchemy.create_engine(
    "mysql+pymysql://compensaciones_rrhh:_Cramercomp2025_@192.168.245.33:3306/rrhh_app"
)

with open(r"C:\Users\gpavez\Desktop\Compensaciones\git\compensaciones\querys\query_ultimo_aumento_base.sql", "r", encoding="utf-8") as f:
    query_bases_historicos = f.read()

df_gabriel_querys = pd.read_sql(query_bases_historicos, engine)

Index(['rut', 'nombre', 'nombre_jefe', 'area', 'division', 'cargo',
       'nacimiento', 'ingreso', 'base', 'base_previo', 'fecha_aumento_previo',
       'variacion_salarial_porcentual', 'meses_entre_aumentos',
       'promedio_aumentos', 'meses_sin_aumento'],
      dtype='object')

,rut,nombre,nombre_jefe,area,division,cargo,nacimiento,ingreso,base,base_previo,fecha_aumento_previo,variacion_salarial_porcentual,meses_entre_aumentos,promedio_aumentos,meses_sin_aumento
0,8.957.970-8,Ximena Clara Burg Ermann,Miguel Andres Berndt Brice√±o,Rol Privado,Administraci√≥n,Gerente Desarrollo Corporativo,1968-03-31,1991-03-11,7000000,NaN,None,0.0,NaN,NaN,45
1,18.957.219-0,Josefina Constanza Pavez Blumenfeld,Claudio Schmauk Cespedes,Control De Gesti√≥n,Administraci√≥n,Abogado,1995-04-06,2024-04-01,1900000,NaN,None,0.0,NaN,NaN,18

In [34]:
df_revision_base = pd.read_excel(r"C:\Users\gpavez\Desktop\Compensaciones\revision_base.xlsx")
df_revision_base.head(2)

,rut,nombre,base,base_previo,fecha_aumento_previo,variacion_salarial_porcentual,meses_entre_aumentos,promedio_aumentos,sin_aumento,nivel 24,nivel 25,criticidad,mercado,bono de antiguedad,observaciones,columna_juan_carcamo,nivel 24_julio,nivel 25_ julio,criticidad_ julio,obs_julio
0,8.957.970-8,Ximena Clara Burg Ermann,7000000,NaN,NaT,0.0,NaN,NaN,45,NaN,NaN,DD,NaN,NaN,NaN,NaN,NaN,NaN,DD,NaN
1,18.957.219-0,Josefina Constanza Pavez Blumenfeld,1900000,NaN,NaT,0.0,NaN,NaN,18,7,NaN,NaN,NaN,NaN,proporcional,NaN,7,7.0,NaN,NaN

In [31]:
df_fusionado = pd.merge(df_gabriel_querys, 
                        df_revision_base[['rut','nivel 25_ julio','criticidad_ julio', "obs_julio"]], 
                        on='rut', 
                        how='left') 

df_fusionado.columns

Index(['rut', 'nombre', 'nombre_jefe', 'area', 'division', 'cargo',
       'nacimiento', 'ingreso', 'base', 'base_previo', 'fecha_aumento_previo',
       'variacion_salarial_porcentual', 'meses_entre_aumentos',
       'promedio_aumentos', 'meses_sin_aumento', 'nivel 25_ julio',
       'criticidad_ julio', 'obs_julio'],
      dtype='object')

In [36]:
# üîß LIMPIEZA: Normalizar los RUTs en ambos dataframes
def limpiar_rut(rut):
    """Limpia y normaliza el RUT eliminando puntos, guiones y espacios"""
    if pd.isna(rut):
        return rut
    # Convertir a string y limpiar
    rut_str = str(rut).strip()
    # Eliminar puntos, guiones y espacios
    rut_limpio = re.sub(r'[.\-\s]', '', rut_str)
    return rut_limpio

# Aplicar limpieza a ambos dataframes
df_gabriel_querys['rut'] = df_gabriel_querys['rut'].apply(limpiar_rut)
df_revision_base['rut'] = df_revision_base['rut'].apply(limpiar_rut)

print("\n=== RUTs DESPU√âS DE LIMPIEZA ===")
print("Primeros 5 RUTs de df_gabriel_querys:", df_gabriel_querys['rut'].head().tolist())
print("Primeros 5 RUTs de df_revision_base:", df_revision_base['rut'].head().tolist())

=== RUTs DESPU√âS DE LIMPIEZA ===
Primeros 5 RUTs de df_gabriel_querys: ['89579708', '189572190', '94911591', '157979973', '141569813']
Primeros 5 RUTs de df_revision_base: ['89579708', '189572190', '94911591', '157979973', '141569813']

In [37]:
# Verificar coincidencias antes del merge
ruts_query = set(df_gabriel_querys['rut'].dropna())
ruts_excel = set(df_revision_base['rut'].dropna())
coincidencias = ruts_query.intersection(ruts_excel)

print(f"\n=== AN√ÅLISIS DE COINCIDENCIAS ===")
print(f"RUTs √∫nicos en query: {len(ruts_query)}")
print(f"RUTs √∫nicos en Excel: {len(ruts_excel)}")
print(f"RUTs que coinciden: {len(coincidencias)}")
print(f"Porcentaje de match: {len(coincidencias)/len(ruts_query)*100:.1f}%")

=== AN√ÅLISIS DE COINCIDENCIAS ===
RUTs √∫nicos en query: 571
RUTs √∫nicos en Excel: 573
RUTs que coinciden: 520
Porcentaje de match: 91.1%

In [38]:
# Hacer el merge
df_fusionado = pd.merge(
    df_gabriel_querys, 
    df_revision_base[['rut', 'nivel 25_ julio', 'criticidad_ julio', 'obs_julio']], 
    on='rut', 
    how='left',
    indicator=True  # Esto te muestra qu√© filas hicieron match
) 

# Ver resultados del merge
print("\n=== RESULTADOS DEL MERGE ===")
print(df_fusionado['_merge'].value_counts())
print(f"\nRegistros con datos de criticidad: {df_fusionado['criticidad_ julio'].notna().sum()}")

=== RESULTADOS DEL MERGE ===
_merge
both          520
left_only      51
right_only      0
Name: count, dtype: int64

Registros con datos de criticidad: 270

In [39]:
excel_ruta = r"C:\Users\gpavez\Desktop\Compensaciones\revision_base_1.2.xlsx"
with pd.ExcelWriter(excel_ruta, engine='xlsxwriter') as writer:
    df_fusionado.to_excel(writer, sheet_name='criticidad', index=False)

print(f"‚úÖ Archivo Excel creado exitosamente en: {excel_ruta}")

‚úÖ Archivo Excel creado exitosamente en: C:\Users\gpavez\Desktop\Compensaciones\revision_base_1.2.xlsx

In [ ]:
# df_deborah_rol_general_2025 = pd.read_excel(r"C:\Users\gpavez\Desktop\Compensaciones\Copia de Rol General 2025.xlsx", sheet_name="Reporte para Deborah Misraji")
# df_deborah_rol_general_2025_julio = pd.read_excel(r"C:\Users\gpavez\Desktop\Compensaciones\Copia de Rol General Julio 2025 (002).xlsx", sheet_name="Reporte para Deborah Misraji")
# print(df_deborah_rol_general_2025.columns)
# print(df_deborah_rol_general_2025_julio.columns)

In [ ]:
# df_deborah_rol_general_2025 = df_deborah_rol_general_2025.rename(columns={'Rut': 'rut'})
# df_deborah_rol_general_2025_julio = df_deborah_rol_general_2025_julio.rename(columns={'Rut': 'rut'})


# def homologar_rut(rut):
#     if pd.isna(rut):
#         return None
#     rut = str(rut).strip().upper()
#     rut = re.sub(r'[^0-9K\-]', '', rut)
#     if '-' not in rut and len(rut) > 1:
#         rut = rut[:-1] + '-' + rut[-1]
#     return rut

# # Sobrescribir la columna 'rut' en lugar de crear una nueva
# df_deborah_rol_general_2025['rut'] = df_deborah_rol_general_2025['rut'].apply(homologar_rut)
# df_gabriel_querys['rut'] = df_gabriel_querys['rut'].apply(homologar_rut)
# df_deborah_rol_general_2025_julio['rut'] = df_deborah_rol_general_2025_julio['rut'].apply(homologar_rut)
# print(df_deborah_rol_general_2025_julio.columns)

In [ ]:
# df_fusionado = pd.merge(df_gabriel_querys, 
#                         df_deborah_rol_general_2025[['rut','Nivel 24','Nivel 25', "criticidad", "Mercado", "Bono De Antiguedad", 'observaciones', 'Columna_juan_carcamo']], 
#                         on='rut', 
#                         how='left') 

# df_fusionado.columns

# df_fusionado_2 = pd.merge(df_fusionado, 
#                         df_deborah_rol_general_2025_julio[['rut','Nivel 24_julio', 'Nivel 25_ julio','criticidad_ julio','Obs_julio']], 
#                         on='rut', 
#                         how='left')

In [ ]:
# df_fusionado_2.columns = df_fusionado_2.columns.str.lower()

# def formatear_rut(rut):
#     rut = rut.replace(".", "").replace("-", "")
#     cuerpo, dv = rut[:-1], rut[-1]
#     cuerpo = f"{int(cuerpo):,}".replace(",", ".")
#     return f"{cuerpo}-{dv}"
# df_fusionado_2['rut'] = df_fusionado_2['rut'].apply(formatear_rut)