In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
#from scipy.optimize import curve_fit
#from scipy import stats
#from collections import Counter
from matplotlib import patheffects
import matplotlib.patches as patches

In [32]:
df_niveles_deborah = pd.read_excel(r"C:\Users\gpavez\Desktop\Datos BUK Chile.xlsx", sheet_name="Datos Api")

In [33]:
df_niveles_deborah.head(10)

,ID_Persona,RUT,Nombre,Género,Cargo,ID_Area,Nombre_Area,Primer_Nivel,Segundo_Nivel,Nivel_Jerarquico_Area,...,Salario_Mediana_Area,Masa_Salarial_Area,Desviacion_Estandar_Area,Posicion_Salarial_Area,Indice_Equidad,Nivel_Equidad_Area,Sueldo Actualizado,Nivel Actualizado,Aumento Pesos,Porcentaje Aumento
0,4232,12357791-4,Cristian Transito Abarca Garrido,M,Operario,450,Fabricación Y Envasado Mezclas Polvos,CARLOS CRAMER PRODUCTOS AROMÁTICOS S.A. C.I.,Operaciones,Jefatura,...,630000,32003000,202644,Promedio,0.291,Moderada,730000,4,0,0.0

In [34]:
df_niveles_deborah.columns

Index(['ID_Persona', 'RUT', 'Nombre', 'Género', 'Cargo', 'ID_Area',
       'Nombre_Area', 'Primer_Nivel', 'Segundo_Nivel', 'Nivel_Jerarquico_Area',
       'Tipo_Area', 'Centro_Costo_Area', 'Edad', 'Rango de Edad',
       'Años de Servicio', 'Rango de Antigüedad', 'Antigüedad en Cargo',
       'Sueldo Base', 'Es Jefe', 'Jefe Directo', 'Categoria_Empleado',
       'Empleados_Total_Area', 'Salario_Promedio_Area', 'Salario_Mediana_Area',
       'Masa_Salarial_Area', 'Desviacion_Estandar_Area',
       'Posicion_Salarial_Area', 'Indice_Equidad', 'Nivel_Equidad_Area',
       'Sueldo Actualizado', 'Nivel Actualizado', 'Aumento Pesos',
       'Porcentaje Aumento'],
      dtype='object')

In [35]:
df_niveles_deborah = df_niveles_deborah.drop(['ID_Persona', 'RUT', 'Nombre', 'Género', 'ID_Area',
       'Nombre_Area', 'Primer_Nivel', 'Nivel_Jerarquico_Area',
       'Tipo_Area', 'Centro_Costo_Area', 'Edad', 'Rango de Edad',
       'Años de Servicio', 'Rango de Antigüedad', 'Antigüedad en Cargo','Es Jefe','Categoria_Empleado',
       'Empleados_Total_Area', 'Salario_Promedio_Area', 'Salario_Mediana_Area',
       'Masa_Salarial_Area', 'Desviacion_Estandar_Area',
       'Posicion_Salarial_Area', 'Indice_Equidad', 'Nivel_Equidad_Area',
       'Sueldo Actualizado','Aumento Pesos',
       'Porcentaje Aumento'], axis=1)

df_niveles_deborah.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Cargo              554 non-null    object
 1   Segundo_Nivel      554 non-null    object
 2   Sueldo Base        554 non-null    int64
 3   Jefe Directo       554 non-null    object
 4   Nivel Actualizado  554 non-null    int64
dtypes: int64(2), object(3)
memory usage: 21.8+ KB

In [36]:
df_niveles_deborah.head()

,Cargo,Segundo_Nivel,Sueldo Base,Jefe Directo,Nivel Actualizado
0,Operario,Operaciones,730000,Manuel Alejandro Gamboa Ramirez,4
1,Gestor de Servicios y Proyectos,Administración,2140000,Deborah Lissete Misraji Vaizer,7
2,Operario,Operaciones,1000000,Jairo Jose Melo Bustos,2
3,Supervisor De Planta,Operaciones,1386000,Nelsy Ariany Seijas Naranjo,6
4,Operario,Operaciones,640000,Manuel Alejandro Gamboa Ramirez,4

In [50]:
niveles_por_cargo_deborah = (
    df_niveles_deborah
    .rename(columns={"Segundo_Nivel": "Área"})
    .groupby(["Área", "Cargo"])["Nivel Actualizado"]
    .agg(["min", "max", "count"])  # Agregamos count aquí
    .reset_index()
    .rename(columns={
        "min": "Nivel Mínimo",
        "max": "Nivel Máximo",
        "count": "Cantidad de Personas"
    })
)

# Agregar columna de cantidad de niveles
niveles_por_cargo_deborah["Cantidad de Niveles"] = (
    niveles_por_cargo_deborah["Nivel Máximo"] - niveles_por_cargo_deborah["Nivel Mínimo"] + 1
)

# Mostrar primer resultado como ejemplo
print(niveles_por_cargo_deborah.head(1))

             Área    Cargo  Nivel Mínimo  Nivel Máximo  Cantidad de Personas  \
0  Administración  Abogado             7             7                     1

   Cantidad de Niveles
0                    1

In [51]:
# Exportar a un archivo Excel
niveles_por_cargo_deborah.to_excel("niveles_por_cargo_deborah1.2.xlsx", index=False)

In [44]:
df_niveles_gabriel = pd.read_excel(r"C:\Users\gpavez\Desktop\Datos BUK Chile.xlsx",sheet_name="Niveles Asignados")

In [45]:
df_niveles_gabriel.head(1)

,ID_Persona,RUT,Nombre,Primer_Nivel,Nombre_Area,Jefe Directo,Cargo,Centro_Costo_Area,Edad,Años de Servicio,Sueldo Base,Nivel,Posición Sub-Nivel,Posición En Nivel
0,4232,12.357.791-4,Cristian Transito Abarca Garrido,CARLOS CRAMER PRODUCTOS AROMÁTICOS S.A. C.I.,Fabricación Y Envasado Mezclas Polvos,Manuel Alejandro Gamboa Ramirez,Operario,6005.0,52.4,5.5,730000,2,2a,85.4

In [46]:
print(df_niveles_gabriel.columns)

Index(['ID_Persona', 'RUT', 'Nombre', 'Primer_Nivel', 'Nombre_Area',
       'Jefe Directo', 'Cargo', 'Centro_Costo_Area', 'Edad',
       'Años de Servicio', 'Sueldo Base', 'Nivel', 'Posición Sub-Nivel',
       'Posición En Nivel'],
      dtype='object')

In [47]:
df_niveles_gabriel = df_niveles_gabriel.drop(['ID_Persona', 'RUT', 'Nombre', 'Primer_Nivel', 'Nombre_Area','Centro_Costo_Area', 'Edad',
       'Años de Servicio',"Posición Sub-Nivel",
       'Posición En Nivel'], axis=1)

df_niveles_gabriel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Jefe Directo  559 non-null    object
 1   Cargo         559 non-null    object
 2   Sueldo Base   559 non-null    int64
 3   Nivel         559 non-null    object
dtypes: int64(1), object(3)
memory usage: 17.6+ KB

In [48]:
df_niveles_gabriel.head(5)

                      Jefe Directo     Cargo  Sueldo Base Nivel
0  Manuel Alejandro Gamboa Ramirez  Operario       730000     2
1  Manuel Alejandro Gamboa Ramirez  Operario       570000     1
2  Manuel Alejandro Gamboa Ramirez  Operario       640000     2
3  Manuel Alejandro Gamboa Ramirez  Operario       600000     1
4  Manuel Alejandro Gamboa Ramirez  Operario       580000     1

In [9]:
# Crear un subset con los registros que tienen Nivel definido
referencia = df_limpio[df_limpio['Nivel 24'].notna()]

# Función para encontrar el nivel más cercano por sueldo
def asignar_nivel(sueldo):
    if referencia.empty:
        return np.nan
    diferencias = abs(referencia['Sueldo Base'] - sueldo)
    nivel = referencia.iloc[diferencias.values.argmin()]['Nivel 24']
    return nivel

# Aplicar la función a los valores faltantes
df_limpio['Nivel 24'] = df_limpio.apply(
    lambda row: asignar_nivel(row['Sueldo Base']) if pd.isna(row['Nivel 24']) else row['Nivel 24'],
    axis=1
)

print(df_limpio)

            Rut  Sueldo Base  Nivel 24
0    20051168-9    2140000.0       8.0
1    25861292-2    1386000.0       6.0
2    26542918-1     610000.0       4.0
3    21889457-7     550000.0       1.0
4    19683409-5     610000.0       4.0
..          ...          ...       ...
543  17488498-6    1000000.0       5.0
544  20123147-7     570000.0       1.0
545         NaN          NaN       4.0
546         NaN          NaN       4.0
547         NaN          NaN       4.0

[548 rows x 3 columns]

In [14]:
#df_limpio.to_excel("Niveles Completos.xlsx", index=False)