In [128]:
import pandas as pd
import sqlalchemy

In [129]:
df1 = pd.read_excel(r"C:\Users\gpavez\Desktop\Compensaciones\git\compensaciones\excels\reporte_personas_cargos_chile.xlsx", sheet_name="Cargos")
df2 = pd.read_excel(r"C:\Users\gpavez\Desktop\Compensaciones\git\compensaciones\excels\niveles_unificados1.3.xlsx", sheet_name='Resumen_Niveles_Por_Cargo')

In [130]:
df2 = df2.rename(columns={'Cargo': 'cargo'})
print(df1.columns)
print(df2.columns)

Index(['cargo', 'sueldo minimo', 'sueldo maximo', 'Niveles', 'Sub_niveles',
       'Ob.'],
      dtype='object')
Index(['cargo', 'area', 'niveles_deborah', 'niveles_carlos'], dtype='object')

In [131]:
df_fusionado = pd.merge(df1, df2[['cargo', 'niveles_deborah', "niveles_carlos"]], 
                         on='cargo', 
                         how='left') 

df_fusionado = df_fusionado.drop(['sueldo minimo', "sueldo maximo", "Sub_niveles", "Ob." ], axis=1)

In [132]:
df_fusionado.columns

Index(['cargo', 'Niveles', 'niveles_deborah', 'niveles_carlos'], dtype='object')

In [133]:
engine = sqlalchemy.create_engine(
    "mysql+pymysql://compensaciones_rrhh:_Cramercomp2025_@192.168.245.33:3306/rrhh_app"
)

In [146]:
def actualizar_position_level():
    try:
        with engine.begin() as conexion:
            # 1Ô∏è‚É£ Crear tabla si no existe
            conexion.execute(sqlalchemy.text("""
                CREATE TABLE IF NOT EXISTS rrhh_app.position_level (
                    name_role VARCHAR(255) PRIMARY KEY,
                    level_gabriel INT(10),
                    level_deborah VARCHAR(100),
                    level_carlos VARCHAR(100)
                );
            """))

        # 2Ô∏è‚É£ Leer cargos √∫nicos desde employees
        df_cargos = pd.read_sql("""
            SELECT DISTINCT name_role
            FROM rrhh_app.employees
            WHERE name_role IS NOT NULL 
            AND name_role <> ''
            AND status = "activo";
        """, engine)
        # 3Ô∏è‚É£ Leer los cargos ya registrados en position_level
        df_existentes = pd.read_sql("""
            SELECT name_role FROM rrhh_app.position_level;
        """, engine)

        # 4Ô∏è‚É£ Identificar los cargos nuevos
        nuevos = df_cargos[~df_cargos['name_role'].isin(df_existentes['name_role'])]

        print(f"üîé Cargos nuevos detectados: {len(nuevos)}")

        # 5Ô∏è‚É£ Insertar solo los cargos nuevos (niveles vac√≠os)
        if not nuevos.empty:
            with engine.begin() as conexion:
                for _, row in nuevos.iterrows():
                    conexion.execute(sqlalchemy.text("""
                        INSERT INTO rrhh_app.position_level (name_role, level_gabriel, level_deborah, level_carlos)
                        VALUES (:name_role, NULL, NULL, NULL);
                    """), {"name_role": row['name_role']})
            print("‚úÖ Nuevos cargos agregados correctamente.")
        else:
            print("‚úÖ No hay cargos nuevos por agregar.")

    except Exception as e:
        print(f"Error actualizando BD: {e}")
        return False

In [147]:
actualizar_position_level()

üîé Cargos nuevos detectados: 1
‚úÖ Nuevos cargos agregados correctamente.

In [126]:
def insertar_datos():
    try:
        with engine.begin() as conexion:
            conexion.execute(sqlalchemy.text("""
                CREATE TABLE IF NOT EXISTS rrhh_app.position_level (
                    name_role VARCHAR(255),
                    level_gabriel INT(10),
                    level_deborah VARCHAR(100),
                    level_carlos VARCHAR(100)                         
                );
            """))

            df_fusionado_limpio = df_fusionado.where(pd.notnull(df_fusionado), None)


            for _, row in df_fusionado_limpio.iterrows():
                conexion.execute(sqlalchemy.text("""
                    INSERT INTO rrhh_app.position_level (name_role, level_gabriel, level_deborah, level_carlos)
                    VALUES (:name_role, :level_gabriel, :level_deborah, :level_carlos)
                """), {
                    "name_role": row['cargo'],
                    "level_gabriel": row['Niveles'],
                    "level_deborah": row['niveles_deborah'],
                    "level_carlos": row['niveles_carlos']
                })

    except Exception as e:
        print(f"Error actualizando BD: {e}")
        return False

Error actualizando BD: (pymysql.err.OperationalError) (1054, "Unknown column 'role_name' in 'field list'")
[SQL:
            SELECT DISTINCT role_name AS name_role
            FROM rrhh_app.employees
            WHERE role_name IS NOT NULL AND role_name <> '' AND status = 'activo';
        ]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

False