In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pymysql

In [20]:
df_niveles = pd.read_excel(r"C:\Users\gpavez\Desktop\Compensaciones\git\compensaciones\excels\reporte_personas_cargos_chile.xlsx", sheet_name="Cargos")

In [21]:
df_niveles.columns

Index(['cargo', 'sueldo minimo', 'sueldo maximo', 'Niveles', 'Sub_niveles',
       'Ob.'],
      dtype='object')

In [22]:
df_niveles_limpio = df_niveles.drop(['sueldo minimo', "sueldo maximo", "Sub_niveles", "Ob." ], axis=1)
df_niveles_limpio = df_niveles_limpio.rename(columns={'Niveles':'niveles'})
df_niveles_limpio.head()

                                  cargo  niveles
0                               Abogado        7
1              Administrador Servidores        7
2        Administrativo Bodega Despacho        5
3                     Analista Contable        6
4  Analista Control De Calidad Muestras        4

In [ ]:
# Entorno Windows
DB_HOST = "192.168.245.33"
DB_USER = "compensaciones_rrhh"
DB_PASSWORD = "_Cramercomp2025_"
DB_NAME = "rrhh_app"

def get_database_config():
    return {
        "host": DB_HOST,
        "user": DB_USER,
        "password": DB_PASSWORD,
        "database": DB_NAME
    }

In [24]:
def insertar_datos():
    conexion = None
    try:
        conexion = pymysql.connect(**get_database_config())
        cursor = conexion.cursor()

        for index, row in df_niveles_limpio.iterrows():
            sql = """
                INSERT INTO rrhh_app.position_level (name_role, level)
                VALUES (%s, %s)
            """
            cursor.execute(sql, (row['cargo'], row['niveles']))

        # Confirmar los cambios
        conexion.commit()

    except Exception as e:
        if conexion:
            conexion.rollback()
        print(f"Error actualizando BD: {e}")
        return False
    finally:
        if conexion:
            cursor.close()
            conexion.close()

In [25]:
insertar_datos()