In [59]:
import pymysql
import pandas as pd

# Configuraci√≥n BD (misma que tienes en tu c√≥digo original)
DB_HOST = "192.168.245.33"
DB_USER = "compensaciones_rrhh"
DB_PASSWORD = "_Cramercomp2025_"
DB_NAME = "rrhh_app"

pais = "CHILE" # "PERU" o "CHILE"

In [60]:
def conectar_y_extraer_datos():
    """
    Conecta a la base de datos y extrae las columnas espec√≠ficas en un DataFrame
    """
    try:
        print("üöÄ Conectando a MySQL...")
        
        # Establecer conexi√≥n
        conexion = pymysql.connect(
            host=DB_HOST,
            user=DB_USER,
            password=DB_PASSWORD,
            database=DB_NAME,
            charset='utf8mb4'
        )

        print("Conexi√≥n exitosa.")

        if "PERU" in pais:
            query_personas = """
                SELECT
                    empleado.full_name AS nombre,
                    empleado.document_number AS dni,
                    empleado.name_role AS cargo,
                    empleado.base_wage AS sueldo_base,
                    jefe.full_name AS nombre_jefe,
                    jefe.name_role AS cargo_jefe,
                    -- Calcula la edad en a√±os
                    TIMESTAMPDIFF(YEAR, empleado.birthday, CURDATE()) AS edad,
                    -- Calcula el tiempo en la empresa en a√±os
                    TIMESTAMPDIFF(YEAR, empleado.active_since, CURDATE()) AS a√±os_en_la_empresa,
                    -- Calcula el tiempo en meses
                    TIMESTAMPDIFF(MONTH, empleado.active_since, CURDATE()) AS meses_en_la_empresa
                FROM
                    rrhh_app.employees_peru AS empleado
                LEFT JOIN
                    rrhh_app.employees_peru AS jefe ON empleado.dni_boss = jefe.document_number
                WHERE
                    empleado.status = "activo";
                """
            query_cargos = """
                SELECT
                    name_role AS cargo,
                    MIN(base_wage) AS sueldo_base_minimo,
                    MAX(base_wage) AS sueldo_base_maximo
                FROM
                    rrhh_app.employees_peru
                WHERE
                    status = "activo"
                GROUP BY
                    name_role
                ORDER BY
                    name_role;
            """
        elif "CHILE" in pais:
            query_personas = """
                SELECT
                    empleado.full_name AS nombre,
                    empleado.rut,
                    empleado.name_role AS cargo,
                    empleado.base_wage AS sueldo_base,
                    jefe.full_name AS nombre_jefe,
                    jefe.name_role AS cargo_jefe,
                    -- Calcula la edad en a√±os
                    TIMESTAMPDIFF(YEAR, empleado.birthday, CURDATE()) AS edad,
                    -- Calcula el tiempo en la empresa en a√±os
                    TIMESTAMPDIFF(YEAR, empleado.active_since, CURDATE()) AS a√±os_en_la_empresa,
                    -- Calcula el tiempo en meses
                    TIMESTAMPDIFF(MONTH, empleado.active_since, CURDATE()) AS meses_en_la_empresa
                FROM
                    rrhh_app.employees AS empleado
                LEFT JOIN
                    rrhh_app.employees AS jefe ON empleado.rut_boss = jefe.rut
                WHERE
                    empleado.status = "activo";
                """
            query_cargos = """
                SELECT
                    name_role AS cargo,
                    MIN(base_wage) AS sueldo_base_minimo,
                    MAX(base_wage) AS sueldo_base_maximo
                FROM
                    rrhh_app.employees
                WHERE
                    status = "activo"
                GROUP BY
                    name_role
                ORDER BY
                    name_role;
                
            """
        
        # Crear DataFrame directamente desde la query
        df_personas = pd.read_sql(query_personas, conexion)
        df_cargos = pd.read_sql(query_cargos, conexion)

        print(f"üìã Columnas disponibles en df_personas: {list(df_personas.columns)}")
        print(f"üìã Columnas disponibles en df_cargos: {list(df_cargos.columns)}")
        # Cerrar conexi√≥n
        conexion.close()
        print("‚úÖ Conexi√≥n cerrada correctamente.")

        return df_personas, df_cargos
        
    except Exception as e:
        print(f"‚ùå Error al conectar o extraer datos: {e}")
        return None

In [61]:

def export_query_to_excel(df_personas, df_cargos):
    # Exportar DataFrame a Excel
    if "PERU" in pais:
        ruta_archivo = "reporte_personas_cargos_peru.xlsx"
    elif "CHILE" in pais:
        ruta_archivo = "reporte_personas_cargos_chile.xlsx"
    with pd.ExcelWriter(ruta_archivo, engine="openpyxl") as writer:
        df_personas.to_excel(writer, sheet_name="Personas", index=False)   
        df_cargos.to_excel(writer, sheet_name="Cargos", index=False)  
    print(f"Archivo Excel creado en: {ruta_archivo}")

In [62]:
if __name__ == "__main__":
    df_personas, df_cargos = conectar_y_extraer_datos()
    if df_personas is not None and df_cargos is not None:
        export_query_to_excel(df_personas, df_cargos)

üöÄ Conectando a MySQL...
Conexi√≥n exitosa.
üìã Columnas disponibles en df_personas: ['nombre', 'rut', 'cargo', 'sueldo_base', 'nombre_jefe', 'cargo_jefe', 'edad', 'a√±os_en_la_empresa', 'meses_en_la_empresa']
üìã Columnas disponibles en df_cargos: ['cargo', 'sueldo_base_minimo', 'sueldo_base_maximo']
‚úÖ Conexi√≥n cerrada correctamente.
Archivo Excel creado en: reporte_personas_cargos_chile.xlsx

C:\Users\gpavez\AppData\Local\Temp\ipykernel_40016\1646080133.py:94: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_personas = pd.read_sql(query_personas, conexion)
C:\Users\gpavez\AppData\Local\Temp\ipykernel_40016\1646080133.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_cargos = pd.read_sql(query_cargos, conexion)