In [81]:
import os
from sqlalchemy import create_engine
from langchain_community.utilities import SQLDatabase
from langchain_openai import ChatOpenAI
from langchain.agents import create_sql_agent
from langchain.agents.agent_types import AgentType
from dotenv import load_dotenv
from mysql import connector
load_dotenv(override=True)

True

In [82]:
openai_api_key = os.getenv("OPENAI_API_KEY")
if openai_api_key:
    print(f"OpenAI API Key exists")
else:
    print("OpenAI API Key not set")

OpenAI API Key exists

In [83]:
MYSQL_USER = os.getenv("DB_USER")
if MYSQL_USER:
    print(f"Database user exists as {MYSQL_USER}")
else: 
    print("no hay conexion")
MYSQL_PASSWORD = os.getenv("DB_PASSWORD")
MYSQL_HOST = os.getenv("DB_HOST") 
MYSQL_PORT = "3306"
MYSQL_DATABASE = os.getenv("DB_NAME")
MYSQL_DRIVER = "mysql+mysqlconnector"

DATABASE_URI = f"{MYSQL_DRIVER}://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOST}:{MYSQL_PORT}/{MYSQL_DATABASE}"
print(f"conectado con la base {MYSQL_DATABASE}")

try:
    engine = create_engine(DATABASE_URI)
    db = SQLDatabase(engine)
    print("Conexión a MySQL exitosa y esquema de la base cargado.")

except Exception as e:
    print(f"Error al conectar a MySQL o inicializar la base de datos: {e}")
    exit()

Database user exists as compensaciones_rrhh
conectado con la base rrhh_app
Conexión a MySQL exitosa y esquema de la base cargado.

In [78]:
llm = ChatOpenAI(model="gpt-4o-mini", temperature=0)
agent_executor = create_sql_agent(
    llm=llm,
    db=db,
    agent_type=AgentType.OPENAI_FUNCTIONS, 
    verbose=True # muestra el "pensamiento" del LLM 
)

In [80]:

def preguntar_a_la_base(pregunta):
    print(f"\n--- Pregunta del Usuario: {pregunta} ---")
    
    # El agente ejecuta el ciclo completo: piensa, genera SQL, ejecuta y responde
    try:
        respuesta = agent_executor.invoke({"input": pregunta})
        print("\n--- Respuesta Final del Chatbot ---")
        print(respuesta['output'])
    except Exception as e:
        print(f"\n--- Error en la ejecución del Agente ---")
        print(f"Ocurrió un error: {e}")
        print("El LLM puede haber generado un SQL incorrecto. Revisa el output con 'verbose=True'.")

# --- PRUEBAS ---
#preguntar_a_la_base("¿Cuántas personas con contrato indefinido estan activas y son operarios?")

# Pregunta que requiere agregar datos
preguntar_a_la_base("""Dame el número de empleados con status = 'activo', 
                    cuyo cargo actual (employees.name_role) contenga la palabra 'Operario', 
                    y que la jefa sea Nelsy Ariany Seijas Naranjo.""")

# Pregunta más compleja (puede requerir Joins si la BBDD es normalizada)
# El LLM intenta inferir la mejor manera de responder.
#preguntar_a_la_base("Muestra los nombres y correos electrónicos de los 5 empleados más jóvenes en el departamento de 'Ventas'.")

--- Pregunta del Usuario: Dame el número de empleados con status = 'activo',
                    cuyo cargo actual (employees.name_role) contenga la palabra 'Operario',
                    y que la jefa sea Nelsy Ariany Seijas Naranjo. ---


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


absences, areas, consolidado_incidencias, contract_alerts, employees, employees_group, employees_peru, groups_table, historical_settlement_items, historical_settlements, job_history, licences, log_cargas_api, mail_corp, morpho_respaldo, permissions, position_level
Invoking: `sql_db_schema` with `{'table_names': 'employees, job_history'}`



CREATE TABLE employees (
	person_id INTEGER,
	full_name VARCHAR(255),
	first_name VARCHAR(100),
	last_name VARCHAR(100),
	rut VARCHAR(50) NOT NULL,
	id INTEGER,
	email VARCHAR(255),
	personal_email VARCHAR(255),
	address TEXT,
	street VARCHAR(255),
	street_number VARCHAR(50),
	city VARCHAR(100),
	province VARCHAR(100),
	district VARCHAR(100),
	region VARCHAR(100),
	phone VARCHAR(50),
	gender VARCHAR(50),
	birthday DATE,
	university VARCHAR(255),
	degree VARCHAR(255),
	bank VARCHAR(100),
	account_type VARCHAR(50),
	account_number VARCHAR(50),
	nationality VARCHAR(100),
	civil_status VARCHAR(50),
	health_company VARCHAR(255),
	pension_regime VARCHAR(255),
	pension_fund VARCHAR(255),
	active_until DATE,
	afc VARCHAR(50),
	retired TINYINT(1),
	retirement_regime VARCHAR(255),
	active_since DATE,
	status VARCHAR(50),
	start_date DATE,
	end_date DATE,
	termination_reason VARCHAR(255),
	payment_method VARCHAR(50),
	id_boss INTEGER,
	rut_boss VARCHAR(50),
	base_wage INTEGER,
	contract_type VARCHAR(50),
	contract_finishing_date_1 DATE,
	contract_finishing_date_2 DATE,
	name_role VARCHAR(255) COMMENT 'El cargo que el empleado desempeña actualmente.',
	area_id INTEGER,
	cost_center VARCHAR(255),
	ctrlit_recinto VARCHAR(100),
	updated_at TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (rut)
)COLLATE utf8mb4_0900_ai_ci COMMENT='Tabla maestra con el estado de cada empleado. Usar para consultar información vigente y de gente ya no activa.' DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from employees table:
person_id	full_name	first_name	last_name	rut	id	email	personal_email	address	street	street_number	city	province	district	region	phone	gender	birthday	university	degree	bank	account_type	account_number	nationality	civil_status	health_company	pension_regime	pension_fund	active_until	afc	retired	retirement_regime	active_since	status	start_date	end_date	termination_reason	payment_method	id_boss	rut_boss	base_wage	contract_type	contract_finishing_date_1	contract_finishing_date_2	name_role	area_id	cost_center	ctrlit_recinto	updated_at
4182	Veronica Daniela Piderit Gonzalez	Veronica	Piderit	10.033.163-2	4182	dpiderit@cramer.cl	danielapiderit@gmail.com	Luis Thayer Ojeda 1525 Dpto. 1501				None	Providencia	RM: Metropolitana de Santiago		F	1977-05-16	None	Bioquímico	Scotiabank	Corriente	974270390	Chilena	Casado	consalud	afp	habitat	None	reducido	0	None	2011-12-12	activo	2025-04-01	None	None	Transferencia Bancaria	4268	13.190.934-9	4000000	Indefinido	None	None	Jefe Unidad Investigación y Sensorial	418	2001	Lucerna -Remoto-Limitado 	2025-10-01 10:51:18
4779	Andrea Schwartz Greve	Andrea	Schwartz	10.036.334-8	4797	aschwartz@cramer.cl	aschwartz67@gmail.com	MARTIN ALONSO PINZON 4845 DEPTO 703			Santigo	None	Las Condes	RM: Metropolitana de Santiago		F	1967-07-06	None	None	Banco de Chile	Corriente	1460488426	Chilena	Casado	cruz_blanca	afp	provida	None	reducido	0	None	2007-09-24	activo	2025-04-01	None	None	Transferencia Bancaria	4789	7.811.480-0	10400000	Indefinido	None	None	Gerente Comercial Sabores Chile	511	7402	sinrecinto	2025-10-01 10:45:34
4780	Michel Patricio Ulloa Bozo	Michel	Ulloa	10.172.861-7	4798	MULLOA@cramer.cl	michelulloa@hotmail.com	EL LLANO SUBERCASEAUX 3589 DEPTO 212	None	None	Santigo	None	San Miguel	RM: Metropolitana de Santiago		M	1965-10-08	None	None	Santander	Corriente	7401201399	Chilena	Casado	colmena	afp	provida	None	no_cotiza	0	None	1993-03-01	activo	2025-04-01	None	None	Transferencia Bancaria	4789	7.811.480-0	11000000	Indefinido	None	None	Gerente Comercial Fragancias	511	7402	sinrecinto	2025-10-01 10:51:19
*/


CREATE TABLE job_history (
	job_id INTEGER NOT NULL,
	person_id INTEGER,
	person_rut VARCHAR(50),
	start_date DATE,
	end_date DATE,
	base_wage INTEGER,
	historical_role VARCHAR(255) COMMENT 'El nombre del cargo que el empleado tuvo en el pasado, definido por start_date y end_date.',
	boss_id INTEGER,
	boss_rut VARCHAR(50),
	updated_at TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (job_id)
)COLLATE utf8mb4_0900_ai_ci COMMENT='Registro histórico de todos los cargos ocupados por los empleados. Usar para análisis de carrera o consultas sobre el pasado de la persona.' DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from job_history table:
job_id	person_id	person_rut	start_date	end_date	base_wage	historical_role	boss_id	boss_rut	updated_at
601	4129	12.150.797-8	1998-10-01	2022-05-31	1600000	Key Account Manager	4529	8.954.496-3	2025-09-08 14:27:24
602	4130	7.313.151-0	1998-04-01	2020-07-01	1048500	Key Account Manager	4130	7.313.151-0	2025-09-08 14:27:39
603	4131	16.479.193-9	2010-03-03	2019-04-16	1869000	Key Account Manager	4131	16.479.193-9	2025-09-08 14:27:24
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT COUNT(e.rut) AS number_of_employees\nFROM employees e\nJOIN job_history j ON e.rut = j.person_rut\nWHERE e.status = 'activo'\nAND e.name_role LIKE '%Operario%'\nAND j.boss_rut = (SELECT rut FROM employees WHERE full_name = 'Nelsy Ariany Seijas Naranjo');"}`
responded: To get the number of employees with the specified conditions, I will need to join the `employees` table with the `job_history` table. The conditions are:

1. Employee status is 'activo'.
2. The current role contains the word 'Operario'.
3. The boss's name is 'Nelsy Ariany Seijas Naranjo'.

I will construct the SQL query accordingly. The relevant columns to select are from the `employees` table for the employee's information and from the `job_history` table for the job role and boss information.

Here is the query I will use:

```sql
SELECT COUNT(e.rut) AS number_of_employees
FROM employees e
JOIN job_history j ON e.rut = j.person_rut
WHERE e.status = 'activo'
AND e.name_role LIKE '%Operario%'
AND j.boss_rut = (SELECT rut FROM employees WHERE full_name = 'Nelsy Ariany Seijas Naranjo');
```

Now, I will check the query for correctness before executing it.

```sql
SELECT COUNT(e.rut) AS number_of_employees
FROM employees e
JOIN job_history j ON e.rut = j.person_rut
WHERE e.status = 'activo'
AND e.name_role LIKE '%Operario%'
AND j.boss_rut = (SELECT rut FROM employees WHERE full_name = 'Nelsy Ariany Seijas Naranjo');
```
Invoking: `sql_db_query` with `{'query': "SELECT COUNT(e.rut) AS number_of_employees\nFROM employees e\nJOIN job_history j ON e.rut = j.person_rut\nWHERE e.status = 'activo'\nAND e.name_role LIKE '%Operario%'\nAND j.boss_rut = (SELECT rut FROM employees WHERE full_name = 'Nelsy Ariany Seijas Naranjo');"}`


[(312,)]El número de empleados con estado 'activo', cuyo cargo actual contiene la palabra 'Operario', y que tienen como jefa a Nelsy Ariany Seijas Naranjo es 312.

> Finished chain.

--- Respuesta Final del Chatbot ---
El número de empleados con estado 'activo', cuyo cargo actual contiene la palabra 'Operario', y que tienen como jefa a Nelsy Ariany Seijas Naranjo es 312.