In [1]:
import tkinter as tk
from tkinter import ttk, messagebox, Toplevel
import pymysql
import pandas as pd
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from datetime import datetime

# Configuración de la base de datos
DB_HOST = "localhost"
DB_USER = "root"
DB_PASSWORD = "cancionanimal"
DB_NAME = "conexion_buk"

In [ ]:
# ----------------------------------------------------------
# Clase principal (descomentada y completa)
# ----------------------------------------------------------
class CompensaViewer:
    def __init__(self, root: tk.Tk):
        self.root = root        
        # self.data_df = None
        # self.employees_df = None
        # self.settlements_df = None
        # self.groups_df = None
        self.cargar_datos_unificados()
        
    # def conectar_bd(self):
    #     try:
    #         return pymysql.connect(
    #             host=DB_HOST,
    #             user=DB_USER,
    #             password=DB_PASSWORD,
    #             database=DB_NAME,
    #             charset="utf8mb4"
    #         )
    #     except Exception as e:
    #         messagebox.showerror("Error BD", f"No se pudo conectar:\n{e}")
    #         return None

    # def obtener_datos(self):
    #     conexion = self.conectar_bd()
    #     if not conexion:
    #         return pd.DataFrame()
    #     try:
    #         query = """
    #         SELECT
    #             e.person_id, e.rut, e.full_name AS Nombre,
    #             COALESCE(e.gender, 'N/A') AS Género, e.area_id AS ID_Area,
    #             COALESCE(e.contract_type, 'N/A') AS Tipo_Contrato, e.active_since,
    #             ej.start_date, ej.end_date, ej.role_name AS Cargo_Actual,
    #             ej.base_wage AS Sueldo_Base, ej.boss_rut,
    #             COALESCE(a.name, CONCAT('Área ', e.area_id)) AS Nombre_Area,
    #             jefe.full_name AS Nombre_Jefe
    #         FROM employees_jobs ej
    #         JOIN employees e ON ej.person_rut = e.rut
    #         LEFT JOIN areas a ON e.area_id = a.id
    #         LEFT JOIN employees jefe ON ej.boss_rut = jefe.rut
    #         WHERE e.status = 'activo' AND ej.start_date >= '2018-01-01'
    #         ORDER BY e.full_name, ej.start_date;
    #         """
    #         df = pd.read_sql(query, conexion)
    #         if not df.empty:
    #             df['active_since'] = pd.to_datetime(df['active_since'], errors='coerce')
    #             df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
    #             df["Años_de_Servicio"] = (pd.to_datetime("today").year - df["active_since"].dt.year).fillna(0)
    #             df['Período'] = df['start_date'].dt.to_period('M').astype(str)
    #             df['Año'] = df['start_date'].dt.year
    #             df['Mes'] = df['start_date'].dt.month
    #             df['sueldo_base'] = df['Sueldo_Base']
    #         conexion.close()
    #         return df
    #     except Exception as e:
    #         messagebox.showerror("Error SQL", f"Error consultando datos:\n{e}")
    #         try:
    #             conexion.close()
    #         except:
    #             pass
    #         return pd.DataFrame()

    # def obtener_datos_empleados(self):
    #     conexion = self.conectar_bd()
    #     if not conexion:
    #         return pd.DataFrame()
    #     try:
    #         query = """
    #         SELECT person_id, id, full_name, rut, email, phone, gender, birthday, 
    #         university, nationality, active_since, status, start_date, end_date, 
    #         contract_type, id_boss, rut_boss, base_wage, name_role, area_id, cost_center, degree
    #         FROM employees
    #         """
    #         df = pd.read_sql(query, conexion)
    #         conexion.close()
    #         return df
    #     except Exception as e:
    #         print(f"Error obteniendo datos de empleados: {e}")
    #         try:
    #             conexion.close()
    #         except:
    #             pass
    #         return pd.DataFrame()
    
    # def obtener_datos_liquidaciones(self):
    #     conexion = self.conectar_bd()
    #     if not conexion:
    #         return pd.DataFrame()
    #     try:
    #         query = """
    #         SELECT `Pay_Period`, `RUT` AS rut, `Liquido_a_Pagar`
    #         FROM historical_settlements
    #         WHERE `Pay_Period` >= '2018-01-01'
    #         ORDER BY rut, `Pay_Period`;
    #         """
    #         df_liquidaciones = pd.read_sql(query, conexion)
    #         if not df_liquidaciones.empty:
    #             df_liquidaciones['Pay_Period'] = pd.to_datetime(df_liquidaciones['Pay_Period'], errors='coerce')
    #             df_liquidaciones['Periodo_Liquidacion'] = df_liquidaciones['Pay_Period'].dt.to_period('M').astype(str)
    #             df_liquidaciones = df_liquidaciones.dropna(subset=['Pay_Period', 'rut', 'Liquido_a_Pagar'])
    #         conexion.close()
    #         return df_liquidaciones
    #     except Exception as e:
    #         messagebox.showerror("Error SQL Liquidaciones", f"Error consultando datos de liquidaciones:\n{e}")
    #         try:
    #             conexion.close()
    #         except:
    #             pass
    #         return pd.DataFrame()

    # def cargar_datos(self):
    #     try:
    #         self.data_df = self.obtener_datos()
    #         self.employees_df = self.obtener_datos_empleados()
    #         self.settlements_df = self.obtener_datos_liquidaciones()

    #         if self.data_df is None or self.data_df.empty:
    #             messagebox.showwarning("Sin datos", "No se encontraron datos en la base.")
    #             return

    #         if "fecha_ingreso" in self.data_df.columns:
    #             self.data_df['antiguedad_dias'] = (datetime.now() - pd.to_datetime(self.data_df['fecha_ingreso'], errors="coerce")).dt.days
                
    #         if "birthday" in self.employees_df.columns:
    #             self.employees_df['edad'] = (datetime.now() - pd.to_datetime(self.employees_df['birthday'], errors="coerce")).dt.days // 365

    #         print ("Datos cargados correctamente.")
    #         print("Columnas del DataFrame `data_df`:")
    #         print(self.data_df.columns)
            
    #         # Puedes añadir más prints para verificar otros DataFrames
    #         print("\nColumnas del DataFrame `employees_df`:")
    #         print(self.employees_df.columns)
            
    #         print("\nColumnas del DataFrame `settlements_df`:")
    #         print(self.settlements_df.columns)
            
    #         print ("\nPrimeras filas de `data_df`:")
    #         print(self.data_df.head())
    #         print ("\nPrimeras filas de `employees_df`:")
    #         print(self.employees_df.head())
    #         print ("\nPrimeras filas de `settlements_df`:")
    #         print(self.settlements_df.head())
            
            
    #     except Exception as e:
    #         messagebox.showerror("Error de carga", f"Ocurrió un error al cargar los datos: {e}")
            
    def conectar_bd(self):
            try:
                return pymysql.connect(
                    host=DB_HOST,
                    user=DB_USER,
                    password=DB_PASSWORD,
                    database=DB_NAME,
                    charset="utf8mb4"
                )
            except Exception as e:
                messagebox.showerror("Error BD", f"No se pudo conectar:\n{e}")
                return None

    def obtener_datos_unificados(self):
        conexion = self.conectar_bd()
        if not conexion:
            return pd.DataFrame()
        try:
            query = """
            SELECT
                -- Query Table Employees
                e.person_id,
                e.rut AS rut_empleado,
                e.full_name AS Nombre_Completo,
                e.email,
                e.phone,
                e.gender AS Género,
                e.birthday,
                e.university,
                e.nationality,
                e.active_since,
                e.status,
                e.contract_type AS Tipo_Contrato,
                e.area_id AS ID_Area,
                
                -- Query Table Areas
                a.name AS Nombre_Area,
                
                -- Query Table Employees_Jobs
                ej.role_name AS Cargo_Actual,
                ej.base_wage AS Sueldo_Base,
                ej.start_date AS Fecha_Inicio_Cargo,
                ej.end_date AS Fecha_Fin_Cargo,
                ej.boss_rut,
                jefe.full_name AS Nombre_Jefe,
                
                -- Query Table Historical_Settlements
                hs.Pay_Period,
                hs.Liquido_a_Pagar
                
                
            FROM employees e
            LEFT JOIN employees_jobs ej ON e.rut = ej.person_rut
            LEFT JOIN areas a ON e.area_id = a.id
            LEFT JOIN employees jefe ON ej.boss_rut = jefe.rut
            LEFT JOIN historical_settlements hs ON e.rut = hs.RUT
            WHERE
                e.status = 'activo'
                AND (ej.start_date >= '2018-01-01' OR ej.start_date IS NULL)
                AND (hs.Pay_Period >= '2018-01-01' OR hs.Pay_Period IS NULL)
            ORDER BY e.full_name, ej.start_date, hs.Pay_Period;
            """
            df_final = pd.read_sql(query, conexion)

            # Procesamiento de datos del DataFrame
            if not df_final.empty:
                # Conversión de tipos de datos
                df_final['active_since'] = pd.to_datetime(df_final['active_since'], errors='coerce')
                df_final['birthday'] = pd.to_datetime(df_final['birthday'], errors='coerce')
                df_final['Fecha_Inicio_Cargo'] = pd.to_datetime(df_final['Fecha_Inicio_Cargo'], errors='coerce')
                df_final['Pay_Period'] = pd.to_datetime(df_final['Pay_Period'], errors='coerce')

                # Creación de columnas calculadas
                df_final["Años_de_Servicio"] = (pd.to_datetime("today").year - df_final["active_since"].dt.year).fillna(0)
                df_final['edad'] = (pd.to_datetime("today") - df_final['birthday']).dt.days // 365
                df_final['Período_Cargo'] = df_final['Fecha_Inicio_Cargo'].dt.to_period('M').astype(str)
                df_final['Año_Cargo'] = df_final['Fecha_Inicio_Cargo'].dt.year
                df_final['Mes_Cargo'] = df_final['Fecha_Inicio_Cargo'].dt.month
                df_final['Período_Liquidacion'] = df_final['Pay_Period'].dt.to_period('M').astype(str)
                
                # Renombrar columnas para consistencia y evitar duplicados
                df_final = df_final.rename({'rut_empleado': 'rut', 'Sueldo_Base': 'sueldo_base'})
            
            conexion.close()
            return df_final
        
        
        except Exception as e:
            messagebox.showerror("Error SQL", f"Error consultando datos:\n{e}")
            try:
                conexion.close()
            except:
                pass
            return pd.DataFrame()

    def cargar_datos_unificados(self):
        try:
            self.data_df = self.obtener_datos_unificados()
            
            if self.data_df is None or self.data_df.empty:
                messagebox.showwarning("Sin datos", "No se encontraron datos en la base.")
                return

            print ("Datos cargados correctamente.")
            print("Columnas del DataFrame `data_df`:")
            print(self.data_df.columns)
            
            print ("\nPrimeras filas de `data_df`:")
            print(self.data_df.head())
            
        except Exception as e:
            messagebox.showerror("Error de carga", f"Ocurrió un error al cargar los datos: {e}")

In [ ]:
# ----------------------------------------------------------
# Bloque de ejecución principal
# ----------------------------------------------------------
if __name__ == "__main__":
    root = tk.Tk()
    app = CompensaViewer(root)
    # root.mainloop() # Esta línea se comenta para que el programa termine después de imprimir.
    # Si quieres una ventana, debes dejarla descomentada.

/var/folders/5j/ybn8cc215rl1l2yh7wgcyr240000gn/T/ipykernel_2447/3149187541.py:214: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_final = pd.read_sql(query, conexion)

Datos cargados correctamente.
Columnas del DataFrame `data_df`:
Index(['person_id', 'rut_empleado', 'Nombre_Completo', 'email', 'phone',
       'Género', 'birthday', 'university', 'nationality', 'active_since',
       'status', 'Tipo_Contrato', 'ID_Area', 'Nombre_Area', 'Cargo_Actual',
       'Sueldo_Base', 'Fecha_Inicio_Cargo', 'Fecha_Fin_Cargo', 'boss_rut',
       'Nombre_Jefe', 'Pay_Period', 'Liquido_a_Pagar', 'Años_de_Servicio',
       'edad', 'Período_Cargo', 'Año_Cargo', 'Mes_Cargo',
       'Período_Liquidacion'],
      dtype='object')

Primeras filas de `data_df`:
   person_id  rut_empleado                Nombre_Completo  \
0       6779  17.293.728-4  Aaron Israel Cortés Hernandez
1       6779  17.293.728-4  Aaron Israel Cortés Hernandez
2       6779  17.293.728-4  Aaron Israel Cortés Hernandez
3       6779  17.293.728-4  Aaron Israel Cortés Hernandez
4       6779  17.293.728-4  Aaron Israel Cortés Hernandez

                  email      phone Género   birthday  \
0  aaron.cortes@gmx.com  953650180      M 1989-07-05
1  aaron.cortes@gmx.com  953650180      M 1989-07-05
2  aaron.cortes@gmx.com  953650180      M 1989-07-05
3  aaron.cortes@gmx.com  953650180      M 1989-07-05
4  aaron.cortes@gmx.com  953650180      M 1989-07-05

                                   university nationality active_since  ...  \
0  INST. LATINOAMERICANO DE COMERCIO EXTERIOR     Chilena   2024-01-02  ...
1  INST. LATINOAMERICANO DE COMERCIO EXTERIOR     Chilena   2024-01-02  ...
2  INST. LATINOAMERICANO DE COMERCIO EXTERIOR     Chilena   2024-01-02  ...
3  INST. LATINOAMERICANO DE COMERCIO EXTERIOR     Chilena   2024-01-02  ...
4  INST. LATINOAMERICANO DE COMERCIO EXTERIOR     Chilena   2024-01-02  ...

      boss_rut                         Nombre_Jefe  Pay_Period  \
0  7.148.523-4  Ricardo Gregorio Israel Abramovich  2024-01-01
1  7.148.523-4  Ricardo Gregorio Israel Abramovich  2024-02-01
2  7.148.523-4  Ricardo Gregorio Israel Abramovich  2024-03-01
3  7.148.523-4  Ricardo Gregorio Israel Abramovich  2024-04-01
4  7.148.523-4  Ricardo Gregorio Israel Abramovich  2024-05-01

  Liquido_a_Pagar Años_de_Servicio  edad Período_Cargo Año_Cargo Mes_Cargo  \
0        713487.0                1    36       2024-01    2024.0       1.0
1        713487.0                1    36       2024-01    2024.0       1.0
2        713487.0                1    36       2024-01    2024.0       1.0
3        713487.0                1    36       2024-01    2024.0       1.0
4        703278.0                1    36       2024-01    2024.0       1.0

  Período_Liquidacion
0             2024-01
1             2024-02
2             2024-03
3             2024-04
4             2024-05

[5 rows x 28 columns]

: